 ../../../.bash_history
        ../../../.gitconfig
        ../../../.lesshst
        ../../../.quokka/
        ../../../.vscode/
        ../../../AppData/
        ../../../Contacts/
        ../../../CrossDevice/
        ../../../Downloads/
        ../../../Favorites/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{f24c4698-e15c-11ef-9694-94bb43c9d58c}.TM.blf
        ../../../NTUSER.DAT{f24c4698-e15c-11ef-9694-94bb43c9d58c}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{f24c4698-e15c-11ef-9694-94bb43c9d58c}.TMContainer00000000000000000002.regtrans-ms
        ../../
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../battery-report.html
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
node_modules/
.vscode/
*.log
*.tmp
.DS_Store
